.rows{
    border: 2px solid blue;
}
.rowss{
    border: 2px solid red;
}
.images{
    width: 100%;
    height: 500px;
}
@media only screen and (max-width:576px) {
    .images{
        height: 50%;
    }
    .rows{
        height: 300px;;
    }
}
